Checks: 'bugprone*,clang-analyzer*,cert*,cppcore*,misc*,modernize*,performance*,portability*,readability*,
        google*,-google-runtime-references,
        hicpp*,-hicpp-signed-bitwise,
        -llvm-header-guard,
        -*-braces-around-statements,
        -llvm*'